@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*-----------*/
body {
  font-family: Heebo;
  color: #21243D;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400px;
}

.container {
  max-width: 855px;
  margin: 0 auto;
}

.header {
  max-width: 1030px;
  margin: 0 auto 153px;
}

.header__row {
  display: flex;
  justify-content: flex-end;
}

.nav {
  display: flex;
  list-style: none;
  margin: 27px 0px 0px 0px;
}
.nav li {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-decoration: none;
  margin: 0px 0px 0px 33px;
}

.profile__row {
  display: flex;
}

.profile__info {
  margin: 19px 0;
}

.profile__info__title {
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  margin: 0px 0px 25px 0px;
}

.profile__info__desc {
  margin: 0px 0px 40px 0px;
}

a {
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  background-color: #FF6464;
  padding: 9px 21px 9px 20px;
}

.profile__foto {
  margin: 0px 0px 0px 115px;
}