@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*-----------*/
body {
  font-family: Heebo;
  color: #21243d;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400px;
}

.container {
  max-width: 855px;
  margin: 0 auto;
}

@media (max-width: 910px) {
  .container {
    padding: 0px 15px;
  }
}

.header {
  max-width: 1070px;
  margin: 0 auto 153px;
}

@media (max-width: 775px) {
  .header {
    margin: 0 auto 30px;
  }
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 27px 20px 0px 0px;
}

.nav__panel li {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0px 0px 0px 33px;
}

a.nav__item {
  color: #21243d;
}

.profile__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 80px 0px;
}

.profile__info {
  margin: 19px 0px 0px 0px;
}

.profile__info__title {
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  margin: 0px 0px 25px 0px;
}

.profile__info__desc {
  margin: 0px 0px 40px 0px;
}

a.profile__info__button {
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  background-color: #ff6464;
  padding: 9px 21px 9px 20px;
}

.profile__foto {
  margin: 0px 0px 0px 115px;
}

@media (max-width: 775px) {
  .profile__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .profile__foto {
    margin: 0px 0px 35px 0px;
  }
}

.recent__post {
  background-color: #edf7fa;
  padding: 0px 0px 32px 0px;
}

.recent__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 7px 0px 0px 0px;
}

.recent__title {
  font-size: 22px;
  line-height: 60px;
}

.recent__view__link {
  color: #00a8cc;
}

.recent__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -11px;
}

.recent__card {
  padding: 0 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.recent__content {
  padding: 25px 21px 28px 23px;
  background-color: #fff;
  border-radius: 2px;
}

.recent__card__title {
  font-size: 26px;
  line-height: 38px;
  font-weight: 700;
  margin: 0px 0px 28px 0px;
}

.recent__card__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  line-height: 26px;
  margin: 0px 0px 18px 0px;
}

.recent__cart__day {
  margin: 0px 31px 0px 0px;
}

.recent__cart__seporator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10fr;
  width: 1px;
  border-right: 1px solid #000;
  margin: 0px 25px 0px 0px;
}

@media (max-width: 650px) {
  .recent__post {
    margin: 0px 15px;
  }
  .recent__head {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .recent__view {
    display: none;
  }
  .recent__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recent__card {
    padding: 0px 15px 15px;
  }
}

.featured__head {
  font-size: 22px;
  line-height: 60px;
  margin: 15px 0px 0px 0px;
}

.featured__card:first-child {
  margin: 22px 0px 0px 0px;
}

.featured__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 31px 0px 0px 0px;
  padding: 0px 0px 35px 0px;
  border-bottom: 1px solid #e0e0e0;
}

.featured__card__pic {
  margin: 0px 16px 0px 0px;
}

.featured__card__title {
  font-size: 30px;
  font-weight: 700;
}

.featured__card__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 29px 0px 0px 0px;
}

.featured__card__year {
  width: 62px;
  height: 25px;
  border-radius: 16px;
  background-color: #142850;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
}

.featured__card__event {
  margin: 0px 0px 0px 26px;
  font-size: 20px;
  font-weight: 400;
  color: #8695a4;
}

.featured__card__desc {
  margin: 22px 0px 0px 0px;
}

@media (max-width: 650px) {
  .featured__head {
    text-align: center;
  }
  .featured__card {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .featured__card__pic {
    margin: 0px 0px 15px 0px;
  }
  .featured__card__pic img {
    width: 100%;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 108px 0px 0px 0px;
}

.contacts__ico {
  width: 230px;
}

.contacts__ico ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright {
  margin: 25px 0px 60px 0px;
  font-size: 14px;
  text-align: center;
}
